#duoCamps {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: stretch;
  margin-top: 10px;
}

#duoCampsImgs {
  width: 200px;
}
#mountainView {
  padding: none;
  max-width: 50%;
  max-height: 50%;
}

.landscapes {
  border-radius: 25px;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.landscapes img {
  display: block;
  width: 100%;
  height: auto;
}
.landscapes:hover {
  border-radius: 25px;
  transition: transform 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
  transform: translateY(5px);
}

.landscapesPictures {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}

.head-Text {
  height: 50%;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.text-Image {
  font-size: 80px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
  z-index: 10;
}

.textButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.lakeTitle {
  display: flex;
  justify-content: center;
}
